<!--
<div>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="col">
                    <mat-card class="container">
                        <mat-card-title>{{user.firstName}} {{user.lastName}}</mat-card-title>
                        <mat-card-subtitle>Username: {{user.username}} // {{user.role}}</mat-card-subtitle>
                        <!--
                        <div>
                        <button mat-raised-button class="mt-5" color="warn" (click)="delete()">Delete</button>
                        </div>  
                        
                    </mat-card>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-card *ngFor="let group of userdetail.groups" class="container">
                        <mat-card-title>Groups you created</mat-card-title>
                        <mat-card-subtitle>{{group.groupTitle}}</mat-card-subtitle>
                        <mat-card-content>
                            {{group.description}}
                        </mat-card-content>
                    </mat-card>
                    
                        <mat-card-title>Groups you are joining</mat-card-title>
                    <mat-card *ngFor="let membership of userdetail.memberships" class="col-md-4" class="container">
                        <mat-card-subtitle ><a routerLink="/groupDetail/{{membership.groupId}}">{{membership.groupId}}</a></mat-card-subtitle>
                    </mat-card>
                </div>
            </div>
        </div>
    </div>
</div>-->
<mat-drawer-container class="example-container">
    <mat-drawer mode="side" opened>
        <mat-card class="container">
            <mat-card-title>{{user.firstName}} {{user.lastName}}</mat-card-title>
            <mat-card-subtitle>Username: {{user.username}} // {{user.role}}</mat-card-subtitle>
            <!--
            <div>
            <button mat-raised-button class="mt-5" color="warn" (click)="delete()">Delete</button>
            </div>  -->
            
        </mat-card>

        <mat-card *ngFor="let group of userdetail.groups" class="container">
            <mat-card-title>Groups you created</mat-card-title>
            <mat-card-subtitle>{{group.groupTitle}}</mat-card-subtitle>
            <mat-card-content>
                {{group.description}}
            </mat-card-content>
        </mat-card>
    </mat-drawer>

    <mat-drawer-content>
        <mat-card class="container">
                <mat-card-title class="group-join">Groups you are joining</mat-card-title>
            <mat-card *ngFor="let membership of userdetail.memberships" class="col-md-4" class="container group-join">
                <mat-card-subtitle ><a routerLink="/groupDetail/{{membership.groupId}}">{{membership.groupId}}</a></mat-card-subtitle>
            </mat-card>
        </mat-card>
    </mat-drawer-content>
    
</mat-drawer-container>
