<p>
    <mat-toolbar color="primary">
      <span class="example-spacer">{{title}}
       <!--<div *ngIf="!userService.loggedIn()"></div>-->
      <a routerLink="/register" mat-button color="warn" *ngIf="!userService.loggedIn()">Register</a>
      <a routerLink="/login" mat-button color="warn" *ngIf="!userService.loggedIn()">Login</a>
       
      <a routerLink="/manageaccount" mat-button color="warn" *ngIf="user">Manage Users</a>
      <a (click)="logout()" mat-button color="warn" *ngIf="user">Logout</a>
       
    </span>
    </mat-toolbar>
  </p>

<!--<app-navigationbar></app-navigationbar>-->

<div class="app-container" [ngClass]="{ 'bg-light': user }">
    <router-outlet></router-outlet>
    
</div>
